<!--  Header - 妯″潡鍖栫増鏈?-->
<div class="relative 
            min-h-[75vh] max-h-[85vh] 
            md:min-h-[80vh] md:max-h-[85vh]
            lg:min-h-screen lg:max-h-screen  
            overflow-hidden z-10 
            transition-all duration-500 ease-out" x-data="headerController()">
    <!-- 鑳屾櫙妯″潡 -->
    <th:block th:replace="~{modules/index/header/background}"></th:block>

    <!-- 鏍囬妯″潡 -->
    <th:block th:replace="~{modules/index/header/title}"></th:block>

    <!-- 鐬棿妯″潡 -->
    <th:block th:replace="~{modules/index/header/moments}"></th:block>

    <!-- 杩囨浮鍔ㄧ敾妯″潡 -->
    <th:block th:replace="~{modules/index/header/transition}"></th:block>

</div>

