<!-- 鍗曢〉闈㈠唴瀹?-->
<th:block th:fragment="content">

<article id="page-container" class="page-reading-card">
  
  <!-- 椤甸潰鏍囬 -->
  <header id="page-header">
    <h1 id="page-title" th:text="${singlePage.spec.title}">椤甸潰鏍囬</h1>
  </header>

  <!-- 鍒嗗壊绾?-->
  <div class="divider"></div>

  <!-- 鏂囩珷鍐呭 -->
  <div id="article-content" th:utext="${singlePage.content.content}">
    <p>椤甸潰鍐呭...</p>
  </div>

  <!-- 搴曢儴鍒嗗壊绾?-->
  <div class="divider"></div>

  <!-- 搴曢儴鎻愮ず -->
  <footer id="page-footer">
    <p>濡傛湁鐤戦棶锛岃閫氳繃绔欑偣鎻愪緵鐨勮仈绯绘柟寮忎笌鎴戜滑鍙栧緱鑱旂郴銆?/p>
  </footer>

</article>

</th:block>

